@import url(uplot/dist/uPlot.min.css);

@import url(./icons.css);

.uplot {
  font-family: inherit;
}
.u-legend {
  font-size: 16px;
}

* {
  margin: 0;
}
a:link,
a:visited {
  color: #00e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  color: red;
}
b {
  font-weight: 600;
}
p {
  margin-bottom: 0;
}
body {
  background-color: #bdf;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: normal;
  font-size: 16px;
  color: #000;
  min-height: 100vh;
  position: relative;
}
main {
  margin: 0 24px;
  padding-bottom: 52px;
}
footer {
  background-color: #def;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #999;
  box-sizing: border-box;
}
.half-dark {
  border-top: 1px solid rgba(0,0,0,0.5);
}
h1 {
  padding: 0.1em 0;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -2px;
}
button.nostyle {
  font: inherit;
  text-transform: inherit;
  padding: 0;
  width: 100%;
  text-align: left;
}
#enterVideo {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}
button#viewGraph {
  padding-left: 0.75rem!important;
}
span#graphDesc {
  font-size: 14px;
  float: right;
}
option:disabled {
  color: #999;
}
.gray {
  color: #555;
}
.light-gray {
  color: #999;
}
.red {
  color: #b00;
}
div#info {
  display: none;
  line-height: 1.75em;
}
.comment {
  border: none;
}
.comment:first-child {
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
}
.comment + .comment {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.highlight {
  background-color: #ff9;
}
.anchor-right {
  left: unset;
  right: 0;
}
.cursor-default {
  cursor: default;
}
.bg-invalid, .bg-invalid:focus {
  background-color: rgba(255,0,0,.10);
}
#commentsCol,
#videoColumn,
#statsColumn,
#statsContainer,
#loadStatus,
#linkedColumn, 
#noteColumn,
#searchErrorCol,
#filter {
  display: none;
}
tr:first-child td,
tr:first-child th {
  border-top: none;
}
.comments-list {
  line-height: 1.5;
}
.vidTitle {
  font-size: 1.25em;
}
.author {
  font-weight: 600;
}
span#options {
  position: relative;
  float: right;
  margin: 0 0 5px 5px;
}
h6.sub-title {
  font-weight: 600;
  margin: 0;
}
button {
  font: inherit;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: 0;
  background-color: #eee;
}
button:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}
button.sendSort {
  padding: 0.25rem 0.5rem;
}
button:disabled {
  pointer-events: none;
}
h5.head {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  padding: 0.75rem;
}
.btn-link {
  color: #00f;
}
div#spinnerContainer {
  display: none;
  height: 0;
}
div#spinner {
  margin-top: 100px;
  z-index: 10;
}
.reloading {
  opacity: 0.25;
  transition: opacity 0.1s linear;
  pointer-events: none;
}
#loadEta {
  float: right;
}
div#progress {
  height: 24px;
}
div.pbar {
  background-color: rgba(0, 0, 0, 0.1);
}
.snap {
  transition: width 0.25s;
}
div#chooseLoad {
  display: none;
}
div#sortLoaded {
  display: none;
  font-size: 18px;
}
div.linked {
  background-color: #def;
}
a.channelPfpLink {
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  height: 48px;
  width: 48px;
  background-color: #4aa3ff;
}
.commentContent,
.commentContentFull,
.replyContent,
.replyContentFull {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  width: calc(100% - 53px);
}
.commentContentFull {
  width: 100%;
}
.replyContentFull {
  width: calc(100% - 32px);
  margin-left: 32px;
}
span.num {
  float: right;
}
.commentFooter {
  font-weight: 600;
}
img.pfp {
  height: 48px;
  width: 48px;
}
img.thumbnail {
  width: 100%;
  margin-bottom: 5px;
}
#submitAll {
  width: 100%;
}
#showMoreDiv {
  display: none;
}
#showMoreBtn {
  font-size: 20px;
  width: 100%;
}
a.authorName,
a.authorNameOp {
  font-weight: 600;
  letter-spacing: -0.5px;
}
a.authorName {
  color: #00e;
}
a.authorNameOp {
  color: #fff;
}
span.authorNameCreator {
  background-color: #03f;
  padding: 0 3px;
  vertical-align: middle;
}
.noColor, .noColor:focus, a.noColor {
  color: inherit;
}
.bold-column > tbody > tr > td:first-child {
  font-weight: 600;
}
ul.terms-list {
  padding-left: 0px;
}
li.terms-item {
  margin-left: 20px;
}
div#terms {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadein;
  animation-duration: 0.25s;
}
.terms-content {
  position: relative;
  word-break: break-word;
  max-width: 800px;
  background-color: #e0f0ff;
  margin: 15vh auto;
  width: 90%;
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.2);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.terms-header {
  padding: 8px 16px;
  font-weight: 600;
  font-size: 20px;
  background-color: #bdf;
}
.terms-body {
  margin-top: 20px;
  padding: 0 16px;
}
.terms-footer {
  font-size: 18px;
  overflow: auto;
  padding: 0 8px 8px 0;
}
#closeTerms {
  float: right;
  padding: 8px 16px;
  font-weight: 600;
}
#closeTerms:focus,
#closeTerms:hover {
  background-color: #bdf;
  text-decoration: none;
  cursor: pointer;
}
