* {
    margin: 0;
}
body {
    background-color: #BBDDFF;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 24px;
    min-height: 100vh;
    position: relative;
}
main {
    margin: 0px 24px;
    padding-bottom: 52px;
}

footer {
    background-color: #ddeeff;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #999;
    box-sizing: border-box;
}

span.dot {
    height: 5px;
    width: 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    padding: .1em 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 6px 2px;
}
hr.opt {
    margin: 2px 0px;
}

div#message {
    color: #977;
    font-size: 80%;
}

.mainInput {
    width: 728px;
    max-width: 100%;
    height: 42px;
    font-family: inherit;
    font-size: inherit;
}

div#graphContainer {
    display: none;
    width: 1000px;
    border: 2px solid black;
    padding: 5px 0px;
}

div#graphDesc {
    padding-left: 5px;
    font-size: 14px;
    color: #555;
}

div.gray, span.gray {
    color: #555;
}

section.singleCommentThead, section.linkedSec {
    margin: 5px 0px;
}

.linkedComment {
    font-size: 14px;
    font-weight: bold;
    vertical-align: top; /* not sure why 'top' becomes middle */
}
div#info {    
    margin: 10px 0px;
    white-space: nowrap;
    min-height: 225px;
}
#metadata {
    display: inline-block;
    margin-left: 5px;
    width: calc(100% - 325px);
    white-space: initial;
    vertical-align: top;
    /* overflow: hidden; */
    line-height: 1.5em;
}
.vidTitle {
    font-size: 28px;
    vertical-align: top;
    font-weight: bolder;
}
.author {
    vertical-align: top;
    font-weight: bold;
    font-size: 22px;
}
div.viewCount {
    display: inline-block;
}
span.red {
    color: #bb0000;
}
.ratings {
    display: inline-block;
    text-align: right;
}
.moreMeta, .vidTimestamp{
    font-size:20px;
}

span#options {
  position: relative;
  display: inline-block;
  font-size: 20px;
}
span#arrow {
    font-size: 16px;
}
#optionsContent {
  display: none;
  font-size: 16px;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 160px;
  width: max-content;
  box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.2);
  padding: 8px;
  z-index: 1;
}

#options:hover #optionsContent {
  display: block;
}
div.optionsHeader {
    font-weight: bold;
}

div.commentHeader {
    vertical-align: middle;
}
.sortSection {
    font-size: 18px;
    vertical-align: bottom;
    display: inline-block;
}

button {
    font-family:inherit;
    font-size: inherit;
}
button.send {
    height: 48px;
}
button.sendSort {
    height: 35px;
}
button.moreBtn {
    height: 60px;
    max-width: 1050px;
}

.commentsList {
    font-size:16px;
}
div#loadStatus {
    margin: 10px 0px;
}

div#chooseLoad {
    display: none;
}
div#sortLoaded {
    display: none;
    font-size: 20px;
}
div#statsOptions {
    display: none;
    font-size: 18px;
    margin-bottom: 5px;
}

div.commentThreadDiv, div.linked {
    margin: 6px 0px;
    line-height: 1.5em;
    /* overflow: hidden; */
    white-space: nowrap;
}

div.linked {
    background-color: #DDEEFF;
}

input.enterBounds {
    height: 25px;
    width: 95px;
    font: inherit;
}

a.channelPfpLink {
    margin-top: 5px;
    margin-right: 5px;
    display:inline-block;
    vertical-align: top;
    white-space: normal;
    height: 48px;
    width: 48px;
    background-color: #4AA3FF;
}

.commentContent, .replyContent, .commentContentFull, .replyContentFull {
    display:inline-block;
    white-space: normal;
    word-wrap: break-word;
    width: calc(100% - 53px);
    max-width: 947px;
}
.commentContentFull {
    width: 100%;
    max-width: 1000px;
}
.replyContentFull {
    width: calc(100% - 32px);
    max-width: 968px;
    margin-left: 32px;
}
span.num {
    float: right;
}

.commentFooter {
    font-weight: bold;
}
img.pfp {
    /* hardcoded */
    height: 48px;
    width: 48px;
}
img.thumbnail {
    width: 320px;
    height: 180px;
}
#moreDiv {
    display: none;
}
#showMoreDiv {
    display: none;
}

a.authorName {
    text-decoration: none;
    font-weight: bold;
    color:blue;
}
a.authorNameOp {
    text-decoration: none;
    font-weight: bold;
    color:white;    
}
span.authorNameCreator {
    background-color: #03f;
    padding: 0px 3px;
    vertical-align: middle;
}
a.authorName:hover, a.authorNameOp:hover {
    text-decoration: underline;
}

a.timeStampLink {
    color: #000;
    text-decoration: none;
}
a.timeStampLink:hover {
    text-decoration: underline;
}

a.authorLink {
    color: inherit;
    text-decoration: none;
}
a.authorLink:hover {
    text-decoration: underline;
}

hr {
    height: 0px;
    color: #000;
    border: 1px solid black;
    max-width: 1000px;
    margin:0px;
}
hr.sect {
    border: 2px solid;
    margin: 15px 0px;
}